<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.arhat.aranya.arhat</string>

    <key>Program</key>
    <string>/usr/local/bin/arhat</string>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/var/log/arhat.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/arhat.log</string>
</dict>

</plist>
