# systemd unit for arhat on ubuntu/centos/fedora ...

[Unit]
Description=arhat daemon
After=syslog.target network.target
Wants=network.target

[Service]
Type=simple

# All ExexStartPre commands are used for cluster network
# remove it if you are not going to deploy abbot to you device

# ensure we have netfilter kernel module setup
#ExecStartPre=/sbin/modprobe iptable_mangle
#ExecStartPre=/sbin/modprobe iptable_nat
#ExecStartPre=/sbin/modprobe ip6table_mangle
#ExecStartPre=/sbin/modprobe ip6table_nat

# turn on forwarding for all kinds of network traffic
#ExecStartPre=/sbin/sysctl -w net.ipv4.ip_forward=1
#ExecStartPre=/sbin/sysctl -w net.ipv6.conf.all.forwarding=1

# disable bridge netfilter for udp tproxy
#ExecStartPre=/sbin/modprobe br_netfilter
#ExecStartPre=/sbin/sysctl -w net.bridge.bridge-nf-call-iptables=0
#ExecStartPre=/sbin/sysctl -w net.bridge.bridge-nf-call-ip6tables=0

# set TERM to xterm to get host exec working for apps require tty
Environment=TERM=xterm
# set HOME to get vim working properly
#Environment=HOME=/home/pi
# set SHELL as default shell when attach to host terminal
#Environment=SHELL=/usr/bin/zsh

ExecStart=/usr/local/bin/arhat -c /etc/arhat/config.yaml
ExecStop=/usr/bin/killall arhat
Restart=always
RestartSec=30s

# set a user for arhat, leave it commented if root user is fine
# when using arhat-libpod-{...} this field must be root
#User=pi

[Install]
WantedBy=multi-user.target
